<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="arrive" value="10"/>
    <add key="homework" value="10"/>
    <add key="addition" value="10"/>
    <add key="exam" value="70"/>
  </appSettings>
</configuration>